.grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 90px 1fr 100px;
  height: 100%;
  grid-template-areas:
    'title aside'
    'main aside'
    'footer aside';
  background: #f1f1f1;
  padding: 0;
  margin: 0;
}
