.weatherData{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
    &>p{
        margin: 10px;
        min-width: 200px;
        font-size: 24px;
        height: auto;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;

        &>span{
            color: $accent;
            margin: 0 10px;
        }

        &:hover{
            background: $accent;
            color: white;
            transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);

            &>span{
                color: $primary;
            }
        }
    }
}