.weatherData{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
    &>h2{
        // border: 1px solid $accent;
        margin: 10px;
        min-width: 200px;
        height: auto;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;


        &:hover{
            background: $accent;
            color: white;
            transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        }
    }
}